<footer
  class="min-w-[320px] p-2 text-center text-sm bg-white dark:bg-gray-900 text-gray-600 dark:text-gray-400"
>
  <div class="flex justify-center gap-2 sm:gap-4">
    <p>© 2025 Laureano Rodriguez</p>
    <a href="https://github.com/ljdr64" target="_blank">
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
        class="dark:invert"
        width="20"
        height="20"
        title="GitHub"
      />
    </a>
    <a
      href="https://linkedin.com/in/laureano-rodriguez-0715b5210"
      target="_blank"
      class=""
    >
      <img
        src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg"
        width="20"
        height="20"
        title="LinkedIn"
      />
    </a>
  </div>
</footer>
